
<configuration>
    <!--  Log Pattern  -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"/>
    <!--  Console Appender  -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <!--  Rolling File Appender  -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/data-ingestion-service.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--  daily log files  -->
            <fileNamePattern>logs/wallet-wise-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <!--  Root Logger  -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
    <!--  Custom Logger for your package  -->
    <logger name="com.walletwise" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>
</configuration>